#main-home h1 {
    text-align: center;
    font-size: 8vh;
    font-family: 'Space Grotesk', sans-serif;
    background: -webkit-linear-gradient(135deg, #c9d37a, #d0daaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-home h2 {
    text-align: center;
    font-size: 4vh;
    font-family: 'Mukta', sans-serif;
}

#main-home button {
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    font-size: 3vh;
    font-family: 'Mukta', sans-serif;
    padding: 1%;
    background: -webkit-linear-gradient(#dfef67, #e1e4c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0.1em solid #e1e4c8;
}

#main-home button:hover {
    transform: translateY(-5%);
}

#main-home img {
    width: 30%;
    pointer-events: none;
}

@media(max-width: 600px) {
    #main-home img {
        width: 100%;
        pointer-events: none;
        margin-block: 5%;
    }
}

#main-home-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}