#navbar {
    font-family: 'Mukta', sans-serif;
    display: flex;

    width: 90%;
    height: 100%;

    align-items: center;
    justify-content: space-around;

    color: #fff;
}

#navbar button {
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
    background: none;
    border: none;
}

#navbar button:hover {
    filter:grayscale(1);
}